<!DOCTYPE html>
<html>
<head lang=tr>
  <meta charset="UTF-8">
  <title></title>

</head>
<body>

<div class="container-fluid">
  <div class="container" style="box-shadow: 0px 0px 5px #dddddd; background-color: #ffffff; padding-top: 5px; padding-bottom: 5px; border-top:3px solid #cccccc; border-bottom:2px dotted #efefef;">
    <header>
      <div class="row">
        <div class="col-md-8">
          <div class="logo">
            <a href="/">
              <img src="http://www.caglarergul.com/ruby/logo.png" width="130px">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="search">
            <form>
              <input type="search" style="float: left; width: 270px; margin-right: 5px;" class="form-control" placeholder="Aranacak Kelimeyi Girin">
              <input type="submit" style="float:left;" class="btn btn-default" value="Ara">
            </form>
          </div>
          <div class="social-media">
            <a href="https://www.facebook.com/gedizbilgisayarkulubu"><img src="http://www.caglarergul.com/ruby/facebook.png" width="32" height="32"></a>
            <a href="https://twitter.com/gedizBytk"><img src="http://www.caglarergul.com/ruby/twitter.png" width="32" height="32"></a>
          </div>
          <div class="login-register" style="text-align: right; padding-right: 13px;">
            <a href="http://localhost:3000/login" class="btn btn-primary">Giriş Yap</a>
            <a href="http://localhost:3000/register" class="btn btn-success">Kayıt Ol</a>
          </div>
        </div>
      </div>
      <br>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="http://localhost:3000/">Anasayfa</a></li>
              <li><a href="http://localhost:3000/activities">Etkinliklerimiz</a></li>
              <li><a href="http://localhost:3000/gallery">Galeri</a></li>
              <li><a href="http://localhost:3000/carriers">Kariyer</a></li>
              <li><a href="http://localhost:3000/blog">Blog</a></li>
              <li><a href="http://localhost:3000/contact">İletişim</a></li>
            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>

      <article id="post-37" class="post-37 post type-post status-publish format-standard hentry category-blog">
        <header class="entry-header">
          <h1 class="entry-title">
            <a href="http://gedizbytk.com/blog/kadin-mi-bilisimci/" title="Kadın mı Bilişimci?">Kadın mı Bilişimci?</a>
          </h1>
        </header>

        <div class="entry-meta">	<span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="http://gedizbytk.com/author/admin/" title="bytk">bytk</a></span></span>
          <span class="cat-links"><i class="fa fa-folder-open"></i><a href="http://gedizbytk.com/category/blog/" rel="category tag">Blog</a></span>
          <span class="sep"><span class="post-format"><i class="fa "></i></span></span>

          <span class="posted-on"><a href="http://gedizbytk.com/blog/kadin-mi-bilisimci/" title="4:41 pm" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2014-09-30T16:41:24+00:00">Eylül 30, 2014</time></a></span>		<span class="comments-link"><a href="http://gedizbytk.com/blog/kadin-mi-bilisimci/#respond" title="Kadın mı Bilişimci? için yapılan yorumlar"><i class="fa fa-comment"></i> 0 Comment</a></span>
        </div>

        <div class="entry-content clearfix">
          <p>Merhabalar Efendim,</p>
          <p>Bilişim sektöründe kadın olmanın zorluklarını çok yoğun hissettiğim şu günlerde , birbirimizden güç alarak tazelenmek ve iş hayatının tüm zorluklarını unutmak adına tüm bayan bilişimciler olarak toplanıp ,biraz sohbet edelim istedim.Aman erkekler alınmasın.İnsan arada kız kıza takılmak istiyor ne yapalım…Baksana bunu duyan ADA LOVELACE İngiltere’den , GRACE MURRAY HOPPER’da Amerika’dan yaşlarını hiçe sayarak kalkıp gelmişler sağolsunlar…</p>
          <p>Belki tanımayanlarınız vardır hemen tanıtayım kendilerini.Ada Lovelace , genel kanıya göre dünyanın ilk bilgisayar programcısı olarak kabul edilir.Ne oldu şaşırdınız mı? Erkek olmasını mı bekliyordunuz? O zaman sizi biraz daha şaşırtayım.Programlama dili olan ADA’nın isminin nereden geldiğini biliyor musunuz?Evet evet aynen öyle Lovelace’in adından gelmektedir.Neyse böyle damdan düşer gibi tanıtmak olmadı.Dikkatleriniz bende olduğuna göre başlıyorum hikayeye… <a href="http://gedizbytk.com/blog/kadin-mi-bilisimci/" class="more-link"><span>Devamı</span></a></p>
        </div>

      </article>

    <article id="post-30" class="post-30 post type-post status-publish format-standard hentry category-blog">
      <header class="entry-header">
        <h1 class="entry-title">
          <a href="http://gedizbytk.com/blog/programcilik-ve-muhendislige-dair/" title="Programcılık ve Mühendisliğe Dair">Programcılık ve Mühendisliğe Dair</a>
        </h1>
      </header>

      <div class="entry-meta">	<span class="byline"><span class="author vcard"><i class="fa fa-user"></i><a class="url fn n" href="http://gedizbytk.com/author/admin/" title="bytk">bytk</a></span></span>
        <span class="cat-links"><i class="fa fa-folder-open"></i><a href="http://gedizbytk.com/category/blog/" rel="category tag">Blog</a></span>
        <span class="sep"><span class="post-format"><i class="fa "></i></span></span>

        <span class="posted-on"><a href="http://gedizbytk.com/blog/programcilik-ve-muhendislige-dair/" title="4:33 pm" rel="bookmark"><i class="fa fa-calendar-o"></i> <time class="entry-date published" datetime="2014-09-30T16:33:01+00:00">Eylül 30, 2014</time></a></span>		<span class="comments-link"><a href="http://gedizbytk.com/blog/programcilik-ve-muhendislige-dair/#respond" title="Programcılık ve Mühendisliğe Dair için yapılan yorumlar"><i class="fa fa-comment"></i> 0 Comment</a></span>
      </div>

      <div class="entry-content clearfix">
        <p>Öncelikle herkese merhaba.</p>
        <p>Sitedeki ilk yazımda,bilişim sektörü içinde sürekli tartışma konusu haline gelen bir şeyden bahsetmek istiyorum.Programcılık ve mühendislik.Her ikisi de bu sektörde ihtiyacımız olan alanlar.Peki ama neden aralarında sürekli aralarında bir rekabet ve anlaşmazlık var ? Kimse kimseyi neden istemiyor ? Biraz bunlardan bahsedeceğim.</p>
        <p>Hepimizin az çok bildiği kadarıyla toplumda genel bir algı var.”Alaylı yazılımcı veya bilgisayar programcısı,bilgisayar mühendisinden daha iyi iş yapar.” Hoppalaaa.Bunu da nereden çıkardınız ?</p>
        <p>Görünen o ki ;programcılar mühendislerden pek haz etmiyor.Ve tabi bu sözlerden sonra mühendisler de programcılardan.İyi ama neden ?<br />
          İnsan tanımadığı bilmediği bir alanda daha kolay atıp tutabiliyor,sanırım tam da bu yüzden.Halbuki iki meslek de,kendini ve karşısındakini bir tanısa,bunun için bir uğraşsa çözülecek bütün düğümler.Aradaki anlaşmazlık kalkacak ve herkes birbirine saygı duyacak.</p>
        <p>E madem öyle,gelin başlayalım tanımaya.</p>
        <p> <a href="http://gedizbytk.com/blog/programcilik-ve-muhendislige-dair/" class="more-link"><span>Devamı</span></a></p>
      </div>

    </article>


  </div>
</div>


<footer>

</footer>


<script type="text/javascript" src="../../assets/javascripts/bootstrap.js"></script>
</body>
</html>
