<!DOCTYPE html>
<html>
<head lang=tr>
  <meta charset="UTF-8">
  <title></title>

</head>
<body>

<div class="container-fluid">
  <div class="container" style="box-shadow: 0px 0px 5px #dddddd; background-color: #ffffff; padding-top: 5px; padding-bottom: 5px; border-top:3px solid #cccccc; border-bottom:2px dotted #efefef;">
    <header>
      <div class="row">
        <div class="col-md-8">
          <div class="logo">
            <a href="/">
              <img src="http://www.caglarergul.com/ruby/logo.png" width="130px">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="search">
            <form>
              <input type="search" style="float: left; width: 270px; margin-right: 5px;" class="form-control" placeholder="Aranacak Kelimeyi Girin">
              <input type="submit" style="float:left;" class="btn btn-default" value="Ara">
            </form>
          </div>
          <div class="social-media">
            <a href="https://www.facebook.com/gedizbilgisayarkulubu"><img src="http://www.caglarergul.com/ruby/facebook.png" width="32" height="32"></a>
            <a href="https://twitter.com/gedizBytk"><img src="http://www.caglarergul.com/ruby/twitter.png" width="32" height="32"></a>
          </div>
          <div class="login-register" style="text-align: right; padding-right: 13px;">
            <a href="http://localhost:3000/login" class="btn btn-primary">Giriş Yap</a>
            <a href="http://localhost:3000/register" class="btn btn-success">Kayıt Ol</a>
          </div>
        </div>
      </div>
      <br>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="http://localhost:3000">Anasayfa</a></li>
              <li><a href="http://localhost:3000/activities">Etkinliklerimiz</a></li>
              <li><a href="http://localhost:3000/gallery">Galeri</a></li>
              <li><a href="http://localhost:3000/carriers">Kariyer</a></li>
              <li><a href="http://localhost:3000/blog">Blog</a></li>
              <li><a href="http://localhost:3000/contact">İletişim</a></li>
            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

    </header>

    <div style="clear:both;"></div>
    <p><strong>E-Posta:</strong> gedizbytk@gmail.com</p>
    <p><strong>Telefon:</strong> 0232 355 0000</p>
    <div id="FSContact1" style="width:99%; max-width:100%;">
      <form action="http://gedizbytk.com/iletisim/#FSContact1" id="fscf_form1" method="post">

        <div id="fscf_required1">
          <span style="text-align:left;"> *</span> <span style="text-align:left;">Zorunlu alanlar</span>
        </div>


        <div id="fscf_div_clear1_0" style="clear:both;">
          <div id="fscf_div_field1_0" style="clear:left; float:left; width:99%; max-width:550px; margin-right:10px;">
            <div style="text-align:left; padding-top:5px;">
              <label style="text-align:left;" for="fscf_name1">Adınız:<span style="text-align:left;"> *</span></label>
            </div>
            <div style="text-align:left;">
              <input style="text-align:left; margin:0; width:99%; max-width:100%;" type="text" id="fscf_name1" name="full_name" value=""  />
            </div>
          </div>
        </div>

        <div id="fscf_div_clear1_1" style="clear:both;">
          <div id="fscf_div_field1_1" style="clear:left; float:left; width:99%; max-width:550px; margin-right:10px;">
            <div style="text-align:left; padding-top:5px;">
              <label style="text-align:left;" for="fscf_email1">Eposta:<span style="text-align:left;"> *</span></label>
            </div>
            <div style="text-align:left;">
              <input style="text-align:left; margin:0; width:99%; max-width:100%;" type="text" id="fscf_email1" name="email" value=""  />
            </div>
          </div>
        </div>

        <div id="fscf_div_clear1_2" style="clear:both;">
          <div id="fscf_div_field1_2" style="clear:left; float:left; width:99%; max-width:550px; margin-right:10px;">
            <div style="text-align:left; padding-top:5px;">
              <label style="text-align:left;" for="fscf_field1_2">Konu:<span style="text-align:left;"> *</span></label>
            </div>
            <div style="text-align:left;">
              <input style="text-align:left; margin:0; width:99%; max-width:100%;" type="text" id="fscf_field1_2" name="subject" value=""  />
            </div>
          </div>
        </div>

        <div id="fscf_div_clear1_3" style="clear:both;">
          <div id="fscf_div_field1_3" style="clear:left; float:left; width:99%; max-width:550px; margin-right:10px;">
            <div style="text-align:left; padding-top:5px;">
              <label style="text-align:left;" for="fscf_field1_3">İleti:<span style="text-align:left;"> *</span></label>
            </div>
            <div style="text-align:left;">
              <textarea style="text-align:left; margin:0; width:99%; max-width:250px; height:120px;" id="fscf_field1_3" name="message" cols="30" rows="10" ></textarea>
            </div>
          </div>
        </div>
        <div style="clear:both;"></div>

        <div style="text-align:left; padding-top:5px;">
        </div>
        <div id="fscf_captcha_image_div1" style="width:250px; height:65px; padding-top:2px;">
          <img id="fscf_captcha_image1" style="border-style:none; margin:0; padding:0px; padding-right:5px; float:left;" src="http://gedizbytk.com/wp-content/plugins/si-contact-form/captcha/securimage_show.php?prefix=sRDZZ1wN59Rz8KE5" width="175" height="60" alt="CAPTCHA (Şahıs Denetim Kodu) Resmi" title="CAPTCHA (Şahıs Denetim Kodu) Resmi" />
          <input id="fscf_captcha_prefix1" type="hidden" name="fscf_captcha_prefix1" value="sRDZZ1wN59Rz8KE5" />
          <div id="fscf_captcha_refresh1">
            <a href="#" rel="nofollow" title="Resmi Yenile" onclick="fscf_captcha_refresh('1','/wp-content/plugins/si-contact-form/captcha','http://gedizbytk.com/wp-content/plugins/si-contact-form/captcha/securimage_show.php?prefix='); return false;">
              <img src="http://gedizbytk.com/wp-content/plugins/si-contact-form/captcha/images/refresh.png" width="22" height="20" alt="Resmi Yenile" style="border-style:none; margin:0; padding:0px; vertical-align:bottom;" onclick="this.blur();" /></a>
          </div>
        </div>

        <div id="fscf_captcha_field1" style="text-align:left; padding-top:5px;">
          <label style="text-align:left;" for="fscf_captcha_code1">CAPTCHA (Şahıs Denetim Kodu):<span style="text-align:left;"> *</span></label>
        </div>
        <div style="text-align:left;">
          <input style="text-align:left; margin:0; width:50px;" type="text" value="" id="fscf_captcha_code1" name="captcha_code"  />
        </div>

        <div id="fscf_submit_div1" style="text-align:left; clear:both; padding-top:15px;">
          <input type="submit" id="fscf_submit1" style="cursor:pointer; margin:0;" value="Gönder"  onclick="this.disabled=true; this.value='Gönderiliyor...'; this.form.submit();" />
        </div>

        <input type="hidden" name="fscf_submitted" value="0" />
        <input type="hidden" name="fs_postonce_1" value="2fd9fd3bc8a4da7d7e99b655fd652053,1418042568" />
        <input type="hidden" name="si_contact_action" value="send" />
        <input type="hidden" name="form_id" value="1" />
        <input type="hidden" name="mailto_id" value="1" />

      </form>
    </div>
    <div style="clear:both;"></div>

    <!-- Fast Secure Contact Form plugin 4.0.30 - end - FastSecureContactForm.com -->

  </div>

  </article>





</div>
</div>


<footer>

</footer>


<script type="text/javascript" src="../../assets/javascripts/bootstrap.js"></script>
</body>
</html>
