<!DOCTYPE html>
<html>
<head lang=tr>
  <meta charset="UTF-8">
  <title></title>
    <style type="text/css">
      dl.gallery-item{
          float: left;
          width: 25%;
      }
    </style>
  <link rel="stylesheet" href="http://www.jacklmoore.com/colorbox/example1/colorbox.css"/>
  <script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
  <script type='text/javascript' src='http://www.jacklmoore.com/colorbox/jquery.colorbox.js'></script>
  <script type="text/javascript">
      $(document).ready(function(){
          $(".group1").colorbox({rel:'group1'});
      });
  </script>
</head>
<body>

<div class="container-fluid">
  <div class="container" style="box-shadow: 0px 0px 5px #dddddd; background-color: #ffffff; padding-top: 5px; padding-bottom: 5px; border-top:3px solid #cccccc; border-bottom:2px dotted #efefef;">
    <header>
      <div class="row">
        <div class="col-md-8">
          <div class="logo">
            <a href="/">
              <img src="http://www.caglarergul.com/ruby/logo.png" width="130px">
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="search">
            <form>
              <input type="search" style="float: left; width: 270px; margin-right: 5px;" class="form-control" placeholder="Aranacak Kelimeyi Girin">
              <input type="submit" style="float:left;" class="btn btn-default" value="Ara">
            </form>
          </div>
          <div class="social-media">
            <a href="https://www.facebook.com/gedizbilgisayarkulubu"><img src="http://www.caglarergul.com/ruby/facebook.png" width="32" height="32"></a>
            <a href="https://twitter.com/gedizBytk"><img src="http://www.caglarergul.com/ruby/twitter.png" width="32" height="32"></a>
          </div>
          <div class="login-register" style="text-align: right; padding-right: 13px;">
            <a href="/login" class="btn btn-primary">Giriş Yap</a>
            <a href="/register" class="btn btn-success">Kayıt Ol</a>
          </div>
        </div>
      </div>
      <br>
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="http://localhost:3000/">Anasayfa</a></li>
              <li><a href="/activities">Etkinliklerimiz</a></li>
              <li><a href="/gallery">Galeri</a></li>
              <li><a href="/carriers">Kariyer</a></li>
              <li><a href="/blog">Blog</a></li>
              <li><a href="/contact">İletişim</a></li>
            </ul>

          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>

    <div class="entry-content clearfix">

      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Mobil Uygulama Eğitimi
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">

              <p><strong>Mobil Uygulama Eğitimi</strong></p>

              <div id='gallery-1' class='gallery galleryid-24 gallery-columns-3 gallery-size-thumbnail'>
                <dl class="gallery-item">
                  <dt class="gallery-icon">
                    <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0011-1024x691.jpg" title="" class="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0011-1024x691-150x150.jpg" width="150" height="150" alt="" /></a>
                  </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0020-1024x631.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0020-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0005-1024x680.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0005-1024x680-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0006-1024x680.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0006-1024x680-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0009-1024x680.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0009-1024x680-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0010-1024x680.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0010-1024x680-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0012-680x1024.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0012-680x1024-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0013-680x1024.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0013-680x1024-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0014-1024x680.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0014-1024x680-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0015-1024x680.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0015-1024x680-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0016-1024x680.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0016-1024x680-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0023-680x1024.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0023-680x1024-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0024-680x1024.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0024-680x1024-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0030-1024x680.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0030-1024x680-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0031-1024x680.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0031-1024x680-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0033-1024x680.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0033-1024x680-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0034-1024x641.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0034-1024x641-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0035-1024x680.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0035-1024x680-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0036-1024x965.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0036-1024x965-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0039-1024x795.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0039-1024x795-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0043-1024x796.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/DSC_0043-1024x796-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl></div>


            </div>
          </div>
        </div>
        <div class="panel panel-success">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                İnternet Haftası 2014
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <p><strong>İnternet Haftası 2014</strong></p>

              <div id='gallery-2' class='gallery galleryid-24 gallery-columns-3 gallery-size-thumbnail group1'><script type="text/javascript">
                  // <![CDATA[
                  jQuery(document).ready(function () {
                      jQuery(".group1 a").attr("rel","group1");
                      jQuery('a[rel="group1"]').colorbox({title: function(){ return jQuery(this).children().attr("alt"); }});
                  });
                  // ]]&gt;
              </script>
                <dl class="gallery-item">
                  <dt class="gallery-icon">
                    <a href="http://gedizbytk.com/wp-content/uploads/2014/09/664367_1475781142652896_6774219694916875854_o-1024x683.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/664367_1475781142652896_6774219694916875854_o-1024x683-150x150.jpg" width="150" height="150" alt="" /></a>
                  </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/859931_1475769712654039_3288077993090190675_o-1024x683.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/859931_1475769712654039_3288077993090190675_o-1024x683-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/885498_1475781149319562_1343630919513420113_o-1024x683.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/885498_1475781149319562_1343630919513420113_o-1024x683-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><br style="clear: both" /><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/1519053_1475769895987354_3784016758888316382_o-683x1024.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/1519053_1475769895987354_3784016758888316382_o-683x1024-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/10010852_1475781949319482_3257831678871394117_o-1024x683.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/10010852_1475781949319482_3257831678871394117_o-1024x683-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><dl class="gallery-item">
                <dt class="gallery-icon">
                  <a href="http://gedizbytk.com/wp-content/uploads/2014/09/10321579_1475782185986125_8596804361596133912_o-1024x683.jpg" title="" rel="group1"><img src="http://gedizbytk.com/wp-content/uploads/2014/09/10321579_1475782185986125_8596804361596133912_o-1024x683-150x150.jpg" width="150" height="150" alt="" /></a>
                </dt></dl><br style="clear: both" /><br style="clear: both" /></div>            </div>
          </div>
        </div>

      </div>






  </div>



    <a href="javascript: window.history.go(-1)">Go Back</a>

  </div>
</div>


<footer>

</footer>

              <script>
                  $('.collapse').collapse();
              </script>

<script type="text/javascript " src="../javascripts/bootstrap.js"></script>
</body>
</html>
