<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">New press</div>
    <div class="panel-body">


      <%= render 'form' %>

      <%= link_to 'Back', presses_path %>


    </div>
  </div>
</div>


<script>
    $( document ).ready(function() {
        $("input[type=text]").addClass("form-control");
        $("input[type=password]").addClass("form-control");
        $("input[type=submit]").addClass("btn btn-success");
        $("textarea").addClass("form-control");
        $("select").css("padding","10px");
    });
</script>
<script type="text/javascript " src="../javascripts/bootstrap.js"></script>
